<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.freegeese.easymybatis.test.db1.mapper.CategoryMapper">
    <resultMap id="BaseResultMap" type="com.github.freegeese.easymybatis.test.db1.model.Category">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,parent_id,path,sort,created_date,last_modified_date
    </sql>
</mapper>